{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container-fluid ebayContainer">
    <div class="row">
      <div class="col-lg-12 ebayContainer">
        <iframe class="ebayPresentation" src="https://docs.google.com/presentation/d/e/2PACX-1vTpWJ4GbFhVjkRjWAEiwext1ZkzaSukkJGIUOXtSeRfNCuw6r8grF8mQ12lKVf9bJr0nDKGWFvdVs_P/embed?start=true&loop=true&delayms=8000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>

    </div>

  </div>

{% endblock content %}
