{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

  <div class="contentContainer container-fluid">
    <div class="row aboutMeTitleContainer">
      <p class='aboutMeTitle col-sm-12'>BRENNER SWENSON</p>
    </div>

    <div class="pageContent row">

      <div class='col-sm-6 headshotContainer'>

        <div class="headshotsGallery slider">
          <div class="headshot">
            <img class="headshot" src="{% static 'photos/brenner-headshot-3.jpg' %}" alt="">
          </div>
          <div class="headshot">
            <img class='headshot' src="{% static 'photos/brenner-wedding-1.jpg' %}" alt="">
          </div>
          <div class="headshot">
            <img class='headshot' src="{% static 'photos/brenner-headshot-2.jpg' %}" alt="">
          </div>
          <div class="headshot">
            <img class='headshot' src="{% static 'photos/brenner-france-1.jpg' %}" alt="">
          </div>

          <div class="headshot">
            <img class='headshot' src="{% static 'photos/brenner-choir-2.jpg' %}" alt="">
          </div>


          <div class="headshot">
            <img class='headshot' src="{% static 'photos/brenner-headshot-1.jpg' %}" alt="">
          </div>

          <div class="headshot">
            <img class='headshot' src="{% static 'photos/brenner-france-2.jpg' %}" alt="">
          </div>
          <div class="headshot">
            <img class='headshot' src="{% static 'photos/brenner-headshot-4.jpg' %}" alt="">
          </div>
          <div class="headshot">
            <img class='headshot' src="{% static 'photos/brenner-wedding-2.jpg' %}" alt="">
          </div>
          <div class="headshot">
            <img class='headshot' src="{% static 'photos/brenner-choir-1.jpg' %}" alt="">
          </div>
          <div class="headshot">
            <img class='headshot' src="{% static 'photos/brenner-france-3.jpg' %}" alt="">
          </div>
          <div class="headshot">
            <img class='headshot' src="{% static 'photos/brenner-headshot-5.jpg' %}" alt="">
          </div>
          <div class="headshot">
            <img class='headshot' src="{% static 'photos/brenner-choir-3.jpg' %}" alt="">
          </div>

        </div>
      </div>

      <div class="aboutMeTextContainer col-sm-6">
        <div class="fadedScrollerAboutMe">
          <p class='aboutMeText'>
            <br> My name is Brenner Swenson. I’m a young financial analyst recently relocated from Utah to London, with experience in finance, accounting, computer science, and music. I love applying and implementing my love for computer science concepts
          with finance, and I would love to carry out this passion of mine with a firm here in London.
          <br>
          <br> I’ve spent my last two or so years working for Strata Fund Solutions, an alternative investment fund administrator based in Salt Lake City, Utah. Here is a <a href="http://www.stratafs.com/">link</a> to their website if you are curious
          about what they do. While working as a Strata analyst, I learned an incredible amount regarding the public and private investment industries. After my first few months at Strata, one of the main senior analysts on my primary client left for
          another firm, and the client was left on my shoulders alone. I tackled this challenge and soon became the expert on this client--a private fund manager with over $215M in AUM.
          <br>
          <br> One of my main interests is computer science and its applications in finance. I am self-taught in this regard; I started to teach myself the Python programming language a few years ago, and haven’t been able to stop.
          <br>
          <br> I built this website from scratch using the Django web framework, which is integrated directly with Python. I built this website to primarily illustrate my projects, and I plan to keep adding to it. You can find the source code for this
          site <a href="https://github.com/brennerswenson/personalPortfolio">here</a> or on the Projects page of this website.
          <br>
          <br> I grew up in Utah, where I studied finance at the University of Utah David Eccles School of Business and graduated with a 3.86 out of 4.0. While in school, I was a member of the university’s Chamber Choir for three years. In Chamber Choir,
          I traveled through Europe, winning several international competitions, making lifelong friends and drinking great wine the whole time. I also minored in music at my university, specializing in vocal performance. Music is something that is very,
          very important to me.
          <br>
          <br> I met my dear wife Alysa at the University of Utah in a microeconomics class in 2014, and I’ve loved every minute of the four years since then. We recently got married in April of 2018; her job is what brings us out to London, and we couldn’t
          be more excited to be here.

          <br>
<br> I am always open to new opportunities, so please feel free to email me at the address below if you would like to get in touch with me. Please have a look around the site!


          </p>
        </div>
        <div class="fadedScrollerAboutMe_fade"></div>
      </div>
    </div>
  </div>

{% endblock content %}
