{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

  <div class="portfolioEncrypterContainer container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="encrypterTitle">PDF ENCRYPTER</h1>
        <div class="row">
          <div class="encrypterCodeColumn col-sm-5 ">
            <div class="fadedScrollerEncrypter">
              <pre><code class="encryptercodetext">
  import os
  from pypdf2 import pdffilereader, pdffilewriter
  import math
  import time
  import random
  import subprocess
  from textwrap import textwrapper
  import sys

  # terminal colors

  class bcolors:
      header = '\033[95m'
      okblue = '\033[94m'
      okgreen = '\033[92m'
      yellow = '\033[93m'
      red = '\033[91m'
      endc = '\033[0m'
      bold = '\033[1m'
      underline = '\033[4m'

  # only will protect pdfs


  def ispdffile(fname):
      if not os.path.isfile(fname):
          return false
      (name, ext) = os.path.splitext(fname)
      return ext.lower() == '.pdf'

  # create function to encrypt pdf


  def encrypt(file):
      temp = open(file, 'rb')
      temp_reader = pdffilereader(file)
      temp_writer = pdffilewriter()
      for num in range(temp_reader.numpages):
          temp_writer.addpage(temp_reader.getpage(num))
      temp_writer.encrypt(password)
      temp_result = open(file, 'wb')
      temp_writer.write(temp_result)
      temp_result.close()

  # make progress bar


  def progress(count, total, suffix=''):
      bar_len = 50
      filled_len = int(round(bar_len * count / float(total)))
      percents = round(100.0 * count / float(total), 1)
      bar = '=' * filled_len + '-' * (bar_len - filled_len)
      sys.stdout.write(bcolors.yellow + '[%s] %s%s %s\r' %
                       (bar, percents, '%', suffix) + bcolors.endc)

      sys.stdout.flush()
      if count == total:
          print(bcolors.bold + '\n' + '\ndone!\n' + bcolors.endc)


  time.sleep(.5)

  # text wrapper instance


  wrapper = textwrapper()

  wrapper.width = 80

  # make list of files to protect

  all_files = os.listdir('.')

  # empty list for pdfs

  files_to_encrypt = []

  # fill list with only pdfs

  for file in all_files:
      if ispdffile(file):
          files_to_encrypt.append(file)
      else:
          continue

  # no. of files to protect

  total = len(files_to_encrypt)

  # get directory from user

  print("\n")
  directory = input(wrapper.fill(
      'hi! welcome to strata pdf encrypter, created by brenner swenson. \nplease paste in the directory of where your pdf files are located: '))

  # checks if input is a valid directory

  if not os.path.exists(directory):

      directory = input(wrapper.fill(
          bcolors.red + "invalid directory, please enter a valid directory: " + bcolors.endc))

  # second check if input is incorrect

  if not os.path.exists(directory):

      directory = input(wrapper.fill(
          bcolors.red + "invalid directory, please enter a valid directory: " + bcolors.endc))


  if not os.path.exists(directory):

      directory = input(wrapper.fill(
          bcolors.red + "invalid directory, please enter a valid directory. last try: " + bcolors.endc))


  if not os.path.exists(directory):

      print(bcolors.red + "invalid directory, press any key to close encrypter and try again." + bcolors.endc)

      input('')

      quit()


  os.chdir(directory)

  # get password from user

  password = str(input(wrapper.fill(
      'enter password you want to encrypt all .pdf files in this directory with :  ')))

  # phrases for fun, after encryption finishes

  print('\n')

  phrases = ['now go take a long lunch. you deserve it.', 'now go thank brenner for making this, because of how much free time you have now.', 'now go take a nap with all of the time you just saved.', 'now go home at a decent time today, you just saved a bunch of time.', "go test out the files and make sure brenner didn't screw up. he probably made some mistake somewhere.",
             'now go watch a youtube video or something, you have some free time now. watching cat videos is beneficial to your mental health.', 'go test out your files! make sure the password actually works.',  'have an idea for a script that brenner could make? let him know!']

  # enables terminal coloring

  subprocess.call('', shell=true)

  start_time = time.time()

  count = 0

  print('here we go...')
  print('')

  import concurrent.futures

  # create 4 python instances for fast execution

  with concurrent.futures.threadpoolexecutor() as executor:
      futures = {executor.submit(encrypt, file)               : file for file in files_to_encrypt}

      for future in concurrent.futures.as_completed(futures):
          count += 1
          # progress bar
          progress(count, total, suffix='encrypting pdf {z} of {y}...'.format(
              z=count, y=len(files_to_encrypt)))

  # calculating performance time
  end_time = time.time()
  execution_time_secs = math.ceil(end_time - start_time)
  execution_time_mins = ((end_time - start_time) / 60)
  files_per_second = (count / execution_time_secs)

  # message to display performance, formatting

  msg = "{d} seconds, or {e:.{digits}f} minutes. that's about {g:.{digits}f} files per second." .format(
      d=execution_time_secs, e=execution_time_mins, digits=2, g=files_per_second)

  # finishing text

  print(bcolors.okgreen + '{a} files encrypted in {c} {b}'.format(a=count,
                                                                  b=wrapper.fill(random.choice(phrases)), c=wrapper.fill(msg)) + bcolors.endc)

  print('')
  time.sleep(1)

  print('')

  input(bcolors.bold + "press any key to exit." + bcolors.endc)


          </code></pre>
            </div>

            <div class="fadedScrollerEncrypter_fade"></div>
          </div>
          <div class="encrypterExplanationColumn col-sm-7">
            <div class="fadedScrollerEncrypter">

              <div class="row">

                <div class="encrypterContentWrapper col-sm-12">
                  <iframe class="encrypterContent" src="https://www.youtube.com/embed/GqpJLdl2Vq8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>
                </div>

              </div>
              <p class="encrypterExplanationText row">
                <br>
                At my last job, one of our main responsibilities was preparing investor statements for our clients’ hedge/private equity funds. These statements contain very sensitive information, such as the net asset value of their investments, their addresses, etc.. We would then distribute these documents directly to investors via email, or via a portal depending on the client.
<br>
<br>
In addition to investor statements, Strata, the company I worked for, prepared a lot of tax documents for our clients. Schedule K-1s are very similar to a form 1099, which shows investment income, except K-1s are for the alternative investment industry. These documents are very sensitive and contain annual investment income figures as well as Social Security numbers. Not only does Strata prepare some tax documents, but if our clients had other tax-preparers, those tax preparers would send to us the K-1s they prepared for distribution to investors.
More often than not, we needed to distribute these documents via email, directly to the investor as it is the most direct way to ensure that they have in fact received their K-1/investor statement. However, the documents needed to be password protected, which takes a lot of time. To do it manually, you have to open the pdf, go through the settings, get to the settings window, select security, and paste in the predetermined password. Some of our clients’ funds have in excess of 300 investors, when compiled with other clients, this is a lot of mundane work just in order to protect files. With investor statements, this would happen monthly for some clients.
<br>
<br>
In my spare time, I developed this script which can password protect any amount of pdfs in a small fraction of the time it previously took. The video above shows how quickly it can protect 500 pdfs.
I won’t go into the detail of how it works, as you can see it on the left. Essentially, it gathers a list of all files in the current directory that are pdfs, then iterates through the list, opening the pdf, calling encrypt() on said file, and closing the file before moving on to the next one.
<br>
<br>
I created this several months prior to leaving my last job and it saved my team hours of work, as I showed them how to use it on their own machines! My managers and supervisors were thrilled at this, and so was I, because I love ad hoc projects like this one.

              </p>
            </div>
            <div class="fadedScrollerEncrypter_fade"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
