{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="projectsContainer container-fluid">
  <div class="row">
    <p class='col-lg-12 projectsTitle'>PROJECTS</p>
  </div>
  <div class="row projectList">
    <div class="projectsButtonContainer">


      <ul class='col-lg-12'>
        <li class="project">
          <a class="btn btn-primary btn-lg btn-block projectButton" href="http://www.github.com/brennerswenson/personalPortfolio" role='button'>THIS WEBSITE</a>
        </li>
        <li class="project">
          <a class="btn btn-primary btn-lg btn-block projectButton" href="{% url 'projects:optimizer'%}" role='button'>PORTFOLIO WEIGHTS AND SHARPE RATIO OPTIMIZER</a>
        </li>
        <li class="project">
          <a class="btn btn-primary btn-lg btn-block projectButton" href=" {% url 'projects:encrypter'%} " role='button'>PDF ENCRYPTER</a>
        </li>
        {% comment %}
        <li class="project">
          <a href="http://www.quantopian.com">
            Trading algorithms</a>
        </li> {% endcomment %}
        <li class="project">
          <a class="btn btn-primary btn-lg btn-block projectButton" href=" {% url 'projects:holdback' %}" role='button'>HEDGE FUND FULL-REDEMPTION HOLD BACK INTEREST CALCULATOR</a>
        </li>
        <li class="project">
          <a class="btn btn-primary btn-lg btn-block projectButton" href="{% url 'projects:tesla' %}" role='button'>
            TESLA BUSINESS MODEL EVALUATION</a>
        </li>
        <li class="project">
          <a class="btn btn-primary btn-lg btn-block projectButton" href="{% url 'projects:ebay' %}" role='button'>
            EBAY OUTSOURCING CASE STUDY</a>
        </li>
        <li class="project">
          <a class="btn btn-primary btn-lg btn-block projectButton" href="{% url 'projects:blackstone' %}" role='button'>
            HILTON BLACKSTONE HOTELS LEVERAGED BUYOUT ANALYSIS</a>
        </li>
        <li class="project">
          <a class="btn btn-primary btn-lg btn-block projectButton" href="{% url 'projects:marketwrap' %}" role='button'>
            WEEKLY MARKET DEVELOPMENTS 22/3/2017
          </a>
        </li>
        <li class='desktopDisclaimer'> <p>Projects are best viewed on a desktop</p> </li>
      </ul>
    </div>
  </div>

</div>

{% endblock content %}
