{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container-fluid teslaContainer">
    <div class="row">
      <div class="col-lg-12 teslaContainer">
        <iframe class="teslaPresentation"
          src="https://docs.google.com/presentation/d/e/2PACX-1vTnN4-54_ztiamfS7wGSWmYpAg6JzeUvrvHo9Atyb83tpaeFH1nCTIPxZsmxaGrPqXYRIKq-xDu3Jo0/embed?start=false&loop=false&delayms=8000"
          frameborder="0"
          width="1440"
          height="839"
          allowfullscreen="true"
          mozallowfullscreen="true"
          webkitallowfullscreen="true"></iframe>
      </div>

    </div>

  </div>

{% endblock content %}
